<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsg4PU5ifZNu-_lcmO3Vauu0vyA7mzqDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315069934250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.batch05Firebase</string>
	<key>PROJECT_ID</key>
	<string>mp-batch-05-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-batch-05-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315069934250:ios:7ae4eee45068fb529d3ed3</string>
</dict>
</plist>